* {
    box-sizing: border-box;
}

@media (max-width: 620px) {
    #page {
        min-width: 90%;
    }
    header {
        background-color: black;
        padding: 5em;
    }
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/background-1881308_1280.jpg);
    background-size: cover;
    width: 100%;
}

#page {
    width: 60%;
    margin: 1em auto;
    box-shadow: 0em 0em 2em;
    opacity: 0.8;
}

header {
    background: #ff3333;
    padding: 1em 2em;
    font-size: 1em;
    text-align: center;
    opacity: 0.8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header:after {
    content: '';
    display: table;
    clear: both;
}

input {
    border: none;
    width: 75%;
    padding: 0.6em;
    float: left;
    font-size: 1em;
}

.addBtn {
    padding: 0.6em;
    width: 25%;
    background: #ff9999;
    color: #0f0f0f;
    float: left;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #ff0000;
    color: white;
}

/*
div {
    opacity: 0.8;
}
*/

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 0.7em 1.9em 0.7em 1em;
    background: #aff;
    font-size: 1em;
    transition: 0.3s;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul:first-child {
    margin-top: 3px;
}

ul li:hover {
    background: #cdcdcd;
}

ul li.done {
    background: #ddd;
    text-decoration: line-through;
    opacity: 0.5;
    padding-left: 2em;
}


/*the "checked" image*/

ul li.done::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 3px 3px 0;
    top: 0.5em;
    left: 0.7em;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.4em 0.8em 0.6em 0.8em;
    font-size: 1.2em;
    font-weight: bold;
}

.close:hover {
    background-color: #a6a6a6;
    color: white;
}
